
// ======================== //
// PROJECT:	PORTFOLIO
// AUTHOR:	JAN FÄSSLER
// DATE:	01.03.2017
// ======================== //



@media (max-width: 991px) {
	body {
		h1, h2 {
		    font-size: 2em !important;
		}
		h2 {
			margin-bottom: 30px !important;
		}

		section {
			display: block !important;
			height: auto;
			min-height: inherit;
			padding: 80px 0px;

			&.section--1 {
				min-height: 100vh;
			}
		}
		.section__wrap {
			display: block !important;
		}

		.section__clouds {
			display: none;
		}

		.section--3 {
			h3 {
				margin-top: 5px;
				margin-bottom: 30px;
			}
			.section__wrap__left {
				div {
					&+div {
						margin-top: 0;
					}
				}
			}
			.section__wrap__right {
				div {
					&+div {
						margin-top: 0;
					}
				}
			}
		}
		.section--5 {
			.section__wrap__lang {
				&+.section__wrap__lang {
					margin-top: 30px;
				}
			}
			.section__wrap__lang__circles {
			    width: 30%;
			    padding-bottom: 30%;
			}
		}
		.rocket {
			display: none;
		}
	}
}



@media (max-width: 991px) {
	.lSSlideOuter {
		padding: 0 35px;
	}
}
