// ======================== //
// PROJECT:	PORTFOLIO
// AUTHOR:	JAN FÄSSLER
// DATE:	01.03.2017
// ======================== //



// ======================== //
// IMPORT GOOGLE FONTS //
// ======================== //
@import 'https://fonts.googleapis.com/css?family=Kavoon|Roboto:300,300i,400,400i,700,900,900i';



// ======================== //
// VARIABLES //
// ======================== //
// FONTS
$kavoon: 'Kavoon', cursive;
$roboto: 'Roboto', sans-serif;

// COLORS
$white: #fff;



// ======================== //
// INCLUDE SCSS FILES //
// ======================== //
@import "bootstrap";
@import "lightslider";
@import "responsive";



// ======================== //
// MIXINS //
// ======================== //
@mixin sectionMiddle {
	display: table;

	.section__wrap {
		display: table-cell;
		vertical-align: middle;
	}
}



// ======================== //
// TOP LAYER //
// ======================== //
html {

}
body {
	margin: 0 auto;
	overflow-x: hidden;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	background: rgb(54,52,66);
	background: -moz-linear-gradient(top,  rgba(54,52,66,1) 0%, rgba(54,52,66,1) 65%, rgba(41,128,185,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(54,52,66,1) 0%,rgba(54,52,66,1) 65%,rgba(41,128,185,1) 100%);
	background: linear-gradient(to bottom,  rgba(54,52,66,1) 0%,rgba(54,52,66,1) 65%,rgba(41,128,185,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#363442', endColorstr='#2980b9',GradientType=0 );

	font-family: $roboto;
	font-size: 16px;
	color: $white;
}
.section__wrap {
	position: relative;
	z-index: 100;
}



// ======================== //
// FONT //
// ======================== //
h1, h2 {
	font-family: $kavoon;
	font-weight: normal;
	text-align: center;
	margin-top: 0;
}
h1 {
	font-size: 3em;
}
h2 {
	font-size: 2.8em;
}
a {
	color: $white;
}



// ======================== //
// PAGE LOADING //
// ======================== //
.pageloading {
	position: fixed;
	top: -1px;
	right: -1px;
	bottom: -1px;
	left: -1px;
	z-index: 9999;
	background: #fff;
}
.pageloading__spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80px;
	height: 80px;
	margin-top: -40px;
	margin-left: -40px;
	border-radius: 100%;
	border: 8px solid #fff;
	border-top: 8px solid #333;
    animation: spinner 1.5s ease 0s infinite;
}
@-webkit-keyframes spinner {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}




// ======================== //
// ROCKET //
// ======================== //
.rocket {
    position: fixed;
    z-index: 99;
    // left: 50%;
	left: -15%; // NO SECTION 8
    top: 50%;
    transform: translateX(-50%) translateY(-50%) scale(.8) !important;
	height: 50vh;
	width: auto;

	img {
		height: 100%;
		width: auto;
	}
	.rocket__flame {
	    width: auto;
	    height: 12vh;
	    position: absolute;
	    left: 50%;
		bottom: -25%;
	    transform: translateY(-17%) translateX(-50%);
		animation: flameAnimation .3s linear infinite;
	}
	.rocket__image {
	    position: absolute;
	    height: 6.9vh;
	    top: 30%;
	    left: 50%;
	    transform: translateX(-50%);

		img {
			opacity: 0;
			transition: opacity 1s ease;
		}

		&--show {
			img {
				opacity: 1;
				transition: opacity 2s ease;
			}
		}
	}
}
@keyframes flameAnimation {
	0% {
		transform: translateY(-17%) translateX(-50%);
	}
	50% {
		transform: translateY(-14%) translateX(-50%);
	}
	100% {
		transform: translateY(-17%) translateX(-50%);
	}
}



// ======================== //
// SECTIONS //
// ======================== //
section {
    width: 100%;
	height: 100vh;
    min-height: 100vh;
    position: relative;
	overflow: hidden;
}
.section__wrap {
	&--container {
		@extend .container;
	}
}
.section__wrap__right {
	@extend .col-xs-12, .col-md-6;
}
.section__wrap__left {
	@extend .col-xs-12, .col-md-6;
}



// ======================== //
// SECTION 1 //
// ======================== //
.section--1 {
	overflow: hidden;

	.section__wrap {
		margin-top: 4vh;
	}
}

// Mountains
.section__mountains {
	position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
	height: 100vh;
}
.section__mountains__layer {
	background-size: contain;
	background-repeat: repeat-x;
	background-position: bottom center;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 100vh;
	&--1 {
		background-image: url(../img/section1/mountains-1.svg);
		z-index: 100;
	}
	&--2 {
		background-image: url(../img/section1/mountains-2.svg);
		z-index: 100;
	}
	&--3 {
		background-image: url(../img/section1/mountains-3.svg);
		z-index: 100;
	}
	&--4 {
		background-image: url(../img/section1/mountains-4.svg);
		z-index: 100;
	}
	&--5 {
		background-image: url(../img/section1/mountains-5.svg);
	}
	&--6 {
		background-image: url(../img/section1/mountains-6.svg);
	}
}



// ======================== //
// SECTION 2 //
// ======================== //
.section--2 {
	@include sectionMiddle;

	.section__wrap__right {
		float: right;

		h3 {
		    margin-bottom: 0;
		}
	}
}

// Clouds
.section__clouds {
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;

	img {
    	max-width: 100%;
		max-height: 100%;
	}
	&--show {
		.section__clouds__cloud {
			&--1 {
				animation: cloudAnimation1 3s ease-out 0s 1 forwards;
			}
			&--2 {
				animation: cloudAnimation2 2s ease-out 0s 1 forwards;
			}
			&--3 {
				animation: cloudAnimation3 2s ease-out 0s 1 forwards;
			}
			&--4 {
				animation: cloudAnimation4 3s ease-out 0s 1 forwards;
			}
		}
	}
}
.section__clouds__cloud {
	position: absolute;
	width: 14vw;

	&--1 {
		top: 15vh;
		left: 0;
		transform: scale(1.4) translateX(-100%);
	}
	&--2 {
		bottom: 14vh;
		left: 0;
		transform: scale(1) translateX(-100%);
	}
	&--3 {
		top: 10vh;
		right: 0;
		transform: scale(1) translateX(100%);
	}
	&--4 {
		bottom: 5vh;
		right: 0;
		transform: scale(1.3) translateX(100%);
	}
}

@keyframes cloudAnimation1 {
	from {
		transform: scale(1.4) translateX(-100%);
	} to {
		transform: scale(1.4) translateX(-10%);
	}
}
@keyframes cloudAnimation2 {
	from {
		transform: scale(1.4) translateX(-100%);
	} to {
		transform: scale(1) translateX(-24%);
	}
}
@keyframes cloudAnimation3 {
	from {
		transform: scale(1.4) translateX(100%);
	} to {
		transform: scale(1) translateX(40%);
	}
}
@keyframes cloudAnimation4 {
	from {
		transform: scale(1.4) translateX(100%);
	} to {
		transform: scale(1.3) translateX(0%);
	}
}



// ======================== //
// SECTION 3 //
// ======================== //
.section--3 {
	@include sectionMiddle;

	overflow: hidden;

	.section__wrap__left {
		text-align: center;
		div {
			@extend .col-xs-6, .col-md-12;

			&+div {
				margin-top: 100px;
			}
		}
	}
	.section__wrap__right {
		text-align: center;
		div {
			@extend .col-xs-6, .col-md-12;

			&+div {
				margin-top: 100px;
			}
		}
	}
	h2 {
		margin-bottom: 100px;
	}
	img {
		width: 25%;
	}
}

// Satellite
.section__satellite {
    position: absolute;
	top: 1vw;
	left: -10vw;
	width: 10vw;
    z-index: -1;
	animation: SatellitAnimation 20s cubic-bezier(0.3, 0, 0.3, 0.4) infinite;

	img {
		max-width: inherit;
		width: 100%;
		height: auto;
	}
}
.section__satellite__light {
	position: absolute;
	left: 1.8vw;
	bottom: 1.8vw;
	width: 0.5vw;
	height: 0.5vw;
	background-color: #ffde00;
	box-shadow: 0px 0px 8px #ffde00;
	border-radius: 100%;
	animation: SatellitBlink 3s ease-in-out infinite;
}
@keyframes SatellitAnimation {
	0% {
		left: -10vw;
	}
	100% {
		left: 110vw;
	}
}
@keyframes SatellitBlink {
	0% {
		box-shadow: 0px 0px 0px #ffde00;
	}
	50% {
		box-shadow: 0px 0px 11px #ffde00;
	}
	100% {
		box-shadow: 0px 0px 0px #ffde00;
	}
}



// ======================== //
// SECTION 4 //
// ======================== //
.section--4 {
	@include sectionMiddle;
	background: linear-gradient(transparent, #363442), url(../img/dust.png);

	.section__wrap {
		text-align: center;

		h3 {
			margin: 0;
		}
		p {
			margin: 0;
		}

		// Time Line
		.section__wrap__timeline {
	       text-align: center;
	       margin: 0.8em 0;
	   }
	   .section__wrap__timeline__circle {
		   border: 0.26em solid #fff;
		   border-radius: 100%;
		   width: 1.4em;
		   height: 1.4em;
		   display: block;
		   margin: 0 auto;
	   }
	   .section__wrap__timeline__line {
	       display: block;
	       height: 2.4em;
	       width: 0.26em;
	       background: #fff;
	       margin: 0.24em auto;
	   }
	}
}

// COMETS
.section__comets {
	position: absolute;
	top: 5%;
	right: 5%;

	.section__comets__comet--1 {
		width: 8vw;
		float: right;
		animation: shootingStar1 4s linear infinite;
	}
	.section__comets__comet--2 {
		width: 10vw;
		float: right;
		margin-right: -8vw;
		margin-top: 4vw;
		animation: shootingStar2 5s linear infinite;
	}
	.section__comets__comet--3 {
		width: 10vw;
		float: right;
		margin-right: -3vw;
		margin-top: 3vw;
		animation: shootingStar3 3s linear infinite;
	}
}
@keyframes shootingStar1 {
	0% {opacity: 0; transform: translateX(0) translateY(0);}
	10% {opacity: 1; transform: translateX(100px) translateY(100px);}
	20% {opacity: 0; transform: translateX(200px) translateY(200px);}
	100% {opacity: 0;}
}
@keyframes shootingStar2 {
	0% {opacity: 0; transform: translateX(0) translateY(0);}
	40% {opacity: 0; transform: translateX(0) translateY(0);}
	50% {opacity: 1; transform: translateX(100px) translateY(100px);}
	60% {opacity: 0; transform: translateX(200px) translateY(200px);}
	100% {opacity: 0;}
}
@keyframes shootingStar3 {
	0% {opacity: 0;	transform: translateX(0) translateY(0);}
	80% {opacity: 0; transform: translateX(0) translateY(0);}
	90% {opacity: 1; transform: translateX(100px) translateY(100px);}
	100% {opacity: 0; transform: translateX(200px) translateY(200px);}
}





// ======================== //
// SECTION 5 //
// ======================== //
.section--5 {
	@include sectionMiddle;
	background-image: url(../img/dust.png);

	.section__wrap {
		h2 {
			margin-bottom: 100px;
		}
	}
	.section__wrap__lang {
		@extend .col-md-4, .col-xs-12;

		text-align: center;

		h3 {
			margin-bottom: 0;
		}
		p {
			margin-top: 0;
		}
	}
	.section__wrap__lang__circles {
	    width: 60%;
	    height: 0;
	    padding-bottom: 60%;
	    position: relative;
		margin: 0 auto;
	}

	// ASTEROIDS
	.section__asteroids {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		.section__asteroids__asteroid {
			position: absolute;
		}

		.section__asteroids__asteroid--1 {
			top: 3vh;
			left: 0;
			width: 23vw;
			transform: translateX(-30%);
		}
		.section__asteroids__asteroid--2 {
			top: 31vh;
			left: 10vw;
			width: 6vw;
			transform: rotate(30deg);
		}
		.section__asteroids__asteroid--3 {
			top: 40vh;
			left: 0;
			width: 13vw;
			transform: rotate(-25deg);
		}
		.section__asteroids__asteroid--4 {
			bottom: 24vh;
			right: 0;
			width: 15vw;
			transform: translateX(42%) rotate(-14deg);
		}
		.section__asteroids__asteroid--5 {
			width: 8vw;
			bottom: 14vh;
			right: 8vw;
			transform: rotate(50deg);
		}
		.section__asteroids__asteroid--6 {
			bottom: 0;
			right: 0;
			width: 10vw;
			transform: translateX(20%) rotate(18deg);
		}
	}
}

// .section__wrap__lang__circles__circle {
// 	&--empty {
// 	    position: absolute;
// 	    top: 0;
// 	    right: 0;
// 	    bottom: 0;
// 	    left: 0;
// 	    border: 10px solid rgba(255, 255, 255, .5);
// 	    border-radius: 100%;
// 	}
// 	&--filler {
// 	    position: absolute;
// 	    top: 0;
// 	    right: 0;
// 	    bottom: 0;
// 	    left: 0;
//
// 		svg {
// 			width: 100%;
// 			height: 100%;
//
// 			.outer {
// 				stroke: #fff;
// 				fill: transparent;
// 				stroke-width: 10;
// 				stroke-dasharray: 471;
// 				transition: stroke-dashoffset 1s;
// 				-webkit-animation-play-state: running;
// 				-moz-transform: rotate(-89deg) translateX(-190px);
// 			}
// 		}
// 		&:hover .outer {
// 			stroke-dashoffset: 534 !important;
// 			-webkit-animation-play-state: paused;
// 		}
// 		&[data-percent='75'] .outer {
// 			// stroke-dashoffset: 133;
// 			-webkit-animation: show75 2s;
// 			animation: show75 2s;
// 		}
// 	}
// }
// @keyframes show75 {
// 	from {
// 		stroke-dashoffset: 0;
// 	}
// 	to {
// 		stroke-dashoffset: 0;
// 	}
// }



// ======================== //
// SECTION 6 //
// ======================== //
.section--6 {
	@include sectionMiddle;
	background-image: url(../img/dust.png);

	.section__wrap {
		h2 {
			margin-bottom: 100px;
		}
	}
	.section__wrap__skills {
		@extend .col-md-8;

		float: none;
		margin: 0 auto;
	}
	.section__wrap__skills__skill {
		@extend .col-md-4, .col-xs-6;
		text-align: center;

		img {
			max-width: 50%;
		}
		&+.section__wrap__skills__skill+.section__wrap__skills__skill+.section__wrap__skills__skill {
		    margin-top: 30px;
		}
	}

	// JUPITER
	.section__jupiter {

	}
	.section__jupiter__texture {
		height: 55vh;
	    width: 55vh;
	    position: absolute;
	    background-image: url(../img/section6/jupiter-texture.svg);
	    background-size: cover;
	    background-position: -2vh;
	    right: 0;
	    top: 15vh;
	    transform: translateX(45%) rotate(-13deg);
	    border-radius: 100%;
	    animation: jupiter 16s linear infinite;
	}
	.section__jupiter__light {
		height: 55vh;
		width: 55vh;
		position: absolute;
		right: 0;
		top: 15vh;
		transform: translateX(45%) rotate(-13deg);
		background-size: cover;
		background-image: url(../img/section6/jupiter-light.svg);
	}
}
@keyframes jupiter {
	0% {
		background-position: -2vh;
	}
	100% {
		background-position: -100vh;
	}
}



// ======================== //
// SECTION 7 //
// ======================== //
.section--7 {
	@include sectionMiddle;
	background-image: url(../img/dust.png);

	.section__wrap {
	}
	.section__wrap__references__slider {
	}
	.section__wrap__references__slider__row {
		@extend .row;
	}
	.section__wrap__references__slider__row__text {
		@extend .col-md-6, .col-xs-12;

		p {
		    margin: 0;
		}
	}
	.section__wrap__references__slider__row__image {
		@extend .col-md-6, .col-xs-12;

		img {
			width: auto;
			max-width: 100%;
			height: auto;
		}
	}
}



// ======================== //
// SECTION 8 //
// ======================== //
.section--8 {
	@include sectionMiddle;
	background-image: url(../img/dust.png);

	.section__wrap {
	}
}










//
